Dcu
Release
Setup
__history
Debug
Thumbs.db
default.txaPackage
default.txvpck
default_diagram.tvsconfig
*.identcache
*.~pas
*.dcu
*.log
*.DCU
*.dproj.local
/Install/src/Packages
/Install/src/Logs
/Components/jedi
jedi
